@import "tailwindcss";


*{
    outline: none;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  .hero-background {
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1)), url('./assets/Home-Page.png');
  }

  @media(max-width:640px){
  
    a.active{
      color: #c300f9;
      text-decoration: underline #c300f9;
    }

    #header{
      text-shadow: 0 2px 4px rgba(195, 0, 249, 0.5);
    }

   
  
  }
  