@import "tailwindcss";


*{
    outline: none;
  }
  
  html{
    scroll-behavior: smooth;
    overscroll-behavior: none;
    scrollbar-width: none;
  }
  
/* body {
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1)), url('./assets/Home-Page.png');
  } */

  @media(max-width:640px){
  
    a.active{
      color: #c300f9;
      text-decoration: underline #c300f9;
    }

    #header{
      text-shadow: 0 2px 4px rgba(195, 0, 249, 0.5);
    }

   
  
  }

  .dropshadow-custom {
    box-shadow: 0 4px 20px rgba(195, 0, 249, 0.5); /* Adjust values as needed */
  }
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards; /* Adjust duration as needed */
}

/*body {
  background-image: 
    linear-gradient(to right, rgba(195, 0, 249, 0.1) 1px, transparent 3px),
    linear-gradient(to top, rgba(195, 0, 249, 0.1) 1px, transparent 3px);
  background-size: 20px 20px;
}
  

