@import "tailwindcss";


*{
    
    box-sizing: border-box;
    outline: none;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  .hero-background {
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1)), url('./assets/Home-Page.png');
  }
  